[bumpversion]
current_version = 2.3.6
commit = True
tag = True

[bumpversion:file:Dockerfile]

[bumpversion:file:ptxboa/__init__.py]

[bumpversion:file:.github/workflows/publish.yaml]

[bumpversion:file:README.md]
