pandas==2.2.1
numpy==1.26.4
streamlit==1.51.0
openpyxl==3.1.2
plotly==5.22.0
streamlit-antd-components==0.3.2
XlsxWriter==3.2.0
pypsa==0.28
highspy==1.7.1
# dependencies of pypsa, but newer versions create Error: 'LinearExpression' has no attribute 'fill_value'
linopy==0.3.14 
xarray==2024.2.0
